/*!
 * Styles for sathyaram.com
 * Copyright 2018 Sathya Ram
 */
/**
 * Font Styles
 * Copyright 2018 Sathya Ram
 */
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Jura");
@font-face {
  font-family: 'aquatico';
  src: url("../fonts/aquatico/aquatico-light-webfont.eot");
  src: url("../fonts/aquatico/aquatico-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aquatico/aquatico-light-webfont.woff2") format("woff2"), url("../fonts/aquatico/aquatico-light-webfont.woff") format("woff"), url("../fonts/aquatico/aquatico-light-webfont.ttf") format("truetype"), url("../fonts/aquatico/aquatico-light-webfont.svg#aquatico") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'aquatico';
  src: url("../fonts/aquatico/aquatico-lightoblique-webfont.eot");
  src: url("../fonts/aquatico/aquatico-lightoblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aquatico/aquatico-lightoblique-webfont.woff2") format("woff2"), url("../fonts/aquatico/aquatico-lightoblique-webfont.woff") format("woff"), url("../fonts/aquatico/aquatico-lightoblique-webfont.ttf") format("truetype"), url("../fonts/aquatico/aquatico-lightoblique-webfont.svg#aquatico") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'aquatico';
  src: url("../fonts/aquatico/aquatico-oblique-webfont.eot");
  src: url("../fonts/aquatico/aquatico-oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aquatico/aquatico-oblique-webfont.woff2") format("woff2"), url("../fonts/aquatico/aquatico-oblique-webfont.woff") format("woff"), url("../fonts/aquatico/aquatico-oblique-webfont.ttf") format("truetype"), url("../fonts/aquatico/aquatico-oblique-webfont.svg#aquatico") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'aquatico';
  src: url("../fonts/aquatico/aquatico-regular-webfont.eot");
  src: url("../fonts/aquatico/aquatico-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aquatico/aquatico-regular-webfont.woff2") format("woff2"), url("../fonts/aquatico/aquatico-regular-webfont.woff") format("woff"), url("../fonts/aquatico/aquatico-regular-webfont.ttf") format("truetype"), url("../fonts/aquatico/aquatico-regular-webfont.svg#aquatico") format("svg");
  font-weight: 200;
  font-style: normal; }

/**
 * Sass Functions/Mixins
 * Copyright 2018 Sathya Ram
 */
/**
 * Utilities for working with the breakpoints
 * Sass Functions/Mixins
 * Copyright 2018 Sathya Ram
 */
/**
 * Clearfix for floats
 * Sass Functions/Mixins
 * Copyright 2018 Sathya Ram
 */
/**
 * Sass Variables
 * Copyright 2018 Sathya Ram
 */
/*! lightgallery - v1.6.11 - 2018-05-22
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2018 Sachin N; Licensed GPLv3 */
@font-face {
  font-family: 'lg';
  src: url("../fonts/lightgallery/lg.eot?n1z373");
  src: url("../fonts/lightgallery/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../fonts/lightgallery/lg.woff?n1z373") format("woff"), url("../fonts/lightgallery/lg.ttf?n1z373") format("truetype"), url("../fonts/lightgallery/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal; }

.lg-icon {
  font-family: 'lg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-top: -10px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 50%;
  z-index: 1080;
  border: none;
  outline: none; }

.lg-actions .lg-next.disabled, .lg-actions .lg-prev.disabled {
  pointer-events: none;
  opacity: 0.5; }

.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
  color: #FFF; }

.lg-actions .lg-next {
  right: 20px; }

.lg-actions .lg-next:before {
  content: "\e095"; }

.lg-actions .lg-prev {
  left: 20px; }

.lg-actions .lg-prev:after {
  content: "\e094"; }

@-webkit-keyframes lg-right-end {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }

@keyframes lg-right-end {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }

@-webkit-keyframes lg-left-end {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }

@keyframes lg-left-end {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }

.lg-outer.lg-right-end .lg-object {
  -webkit-animation: lg-right-end 0.3s;
  animation: lg-right-end 0.3s;
  position: relative; }

.lg-outer.lg-left-end .lg-object {
  -webkit-animation: lg-left-end 0.3s;
  animation: lg-left-end 0.3s;
  position: relative; }

.lg-toolbar {
  z-index: 1082;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45); }

.lg-toolbar .lg-icon {
  color: #ab9aaa;
  cursor: pointer;
  float: right;
  font-size: 24px;
  height: 47px;
  line-height: 27px;
  padding: 10px 0;
  text-align: center;
  width: 50px;
  text-decoration: none !important;
  outline: medium none;
  transition: color 0.2s linear; }

.lg-toolbar .lg-icon:hover {
  color: #d9d2d9; }

.lg-toolbar .lg-close:after {
  content: "\e070"; }

.lg-toolbar .lg-download:after {
  content: "\e0f2"; }

.lg-sub-html {
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  color: rgba(255, 255, 255, 0.92);
  font-family: "Jura", sans-serif;
  font-size: 16px;
  left: 0;
  padding: 15px 50px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1080; }

.lg-sub-html h4,
.lg-sub-html h5 {
  margin: 0;
  font-size: 16px;
  font-weight: bold; }

.lg-sub-html p {
  font-size: 14px;
  margin: 5px 0 0; }

#lg-counter {
  color: #947e92;
  display: inline-block;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 12px;
  vertical-align: middle; }

.lg-toolbar, .lg-prev, .lg-next {
  opacity: 1;
  transition: opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear, -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear;
  transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, color 0.2s linear, -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-hide-items .lg-prev {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.lg-hide-items .lg-next {
  opacity: 0;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0); }

.lg-hide-items .lg-toolbar {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s, opacity 250ms cubic-bezier(0, 0, 0.25, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s !important;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-outer .lg-thumb-outer {
  background-color: #000;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1080;
  max-height: 350px;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb {
  transition-duration: 0s !important; }

.lg-outer.lg-thumb-open .lg-thumb-outer {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0); }

.lg-outer .lg-thumb {
  padding: 10px 0;
  height: 100%;
  margin-bottom: -5px; }

.lg-outer .lg-thumb-item {
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 100%;
  margin-bottom: 5px; }

@media (min-width: 1025px) {
  .lg-outer .lg-thumb-item {
    transition: border-color 0.25s ease; } }

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #a90707; }

.lg-outer .lg-thumb-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.lg-outer.lg-has-thumb .lg-item {
  padding-bottom: 120px; }

.lg-outer.lg-can-toggle .lg-item {
  padding-bottom: 0; }

.lg-outer.lg-pull-caption-up .lg-sub-html {
  transition: bottom 0.25s ease; }

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
  bottom: 100px; }

.lg-outer .lg-toogle-thumb {
  background-color: #0D0A0A;
  border-radius: 2px 2px 0 0;
  color: #999;
  cursor: pointer;
  font-size: 24px;
  height: 39px;
  line-height: 27px;
  padding: 5px 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -39px;
  width: 50px; }

.lg-outer .lg-toogle-thumb:after {
  content: "\e1ff"; }

.lg-outer .lg-toogle-thumb:hover {
  color: #FFF; }

.lg-outer .lg-video-cont {
  display: inline-block;
  vertical-align: middle;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 0 5px; }

.lg-outer .lg-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative; }

.lg-outer .lg-video .lg-object {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.lg-outer .lg-video .lg-video-play {
  width: 84px;
  height: 59px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -42px;
  margin-top: -30px;
  z-index: 1080;
  cursor: pointer; }

.lg-outer .lg-has-iframe .lg-video {
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.lg-outer .lg-has-vimeo .lg-video-play {
  background: url("../images/lightgallery/vimeo-play.png") no-repeat scroll 0 0 transparent; }

.lg-outer .lg-has-vimeo:hover .lg-video-play {
  background: url("../images/lightgallery/vimeo-play.png") no-repeat scroll 0 -58px transparent; }

.lg-outer .lg-has-html5 .lg-video-play {
  background: transparent url("../images/lightgallery/video-play.png") no-repeat scroll 0 0;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  width: 64px;
  opacity: 0.8; }

.lg-outer .lg-has-html5:hover .lg-video-play {
  opacity: 1; }

.lg-outer .lg-has-youtube .lg-video-play {
  background: url("../images/lightgallery/youtube-play.png") no-repeat scroll 0 0 transparent; }

.lg-outer .lg-has-youtube:hover .lg-video-play {
  background: url("../images/lightgallery/youtube-play.png") no-repeat scroll 0 -60px transparent; }

.lg-outer .lg-video-object {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0; }

.lg-outer .lg-has-video .lg-video-object {
  visibility: hidden; }

.lg-outer .lg-has-video.lg-video-playing .lg-object, .lg-outer .lg-has-video.lg-video-playing .lg-video-play {
  display: none; }

.lg-outer .lg-has-video.lg-video-playing .lg-video-object {
  visibility: visible; }

.lg-progress-bar {
  background-color: #333;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1083;
  opacity: 0;
  transition: opacity 0.08s ease 0s; }

.lg-progress-bar .lg-progress {
  background-color: #947e92;
  height: 5px;
  width: 0; }

.lg-progress-bar.lg-start .lg-progress {
  width: 100%; }

.lg-show-autoplay .lg-progress-bar {
  opacity: 1; }

.lg-autoplay-button:after {
  content: "\e01d"; }

.lg-show-autoplay .lg-autoplay-button:after {
  content: "\e01a"; }

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap, .lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image {
  transition-duration: 0s; }

.lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-outer.lg-use-left-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  transition: left 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, top 0.3s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s !important;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.15s !important;
  transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s !important;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#lg-zoom-in:after {
  content: "\e311"; }

#lg-actual-size {
  font-size: 20px; }

#lg-actual-size:after {
  content: "\e033"; }

#lg-zoom-out {
  opacity: 0.5;
  pointer-events: none; }

#lg-zoom-out:after {
  content: "\e312"; }

.lg-zoomed #lg-zoom-out {
  opacity: 1;
  pointer-events: auto; }

.lg-outer .lg-pager-outer {
  bottom: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 1080;
  height: 10px; }

.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont {
  overflow: visible; }

.lg-outer .lg-pager-cont {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  margin: 0 5px; }

.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.lg-outer .lg-pager-cont.lg-pager-active .lg-pager {
  box-shadow: 0 0 0 2px white inset; }

.lg-outer .lg-pager-thumb-cont {
  background-color: #fff;
  color: #FFF;
  bottom: 100%;
  height: 83px;
  left: 0;
  margin-bottom: 20px;
  margin-left: -60px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  width: 120px;
  border-radius: 3px;
  transition: opacity 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  transition: opacity 0.15s ease 0s, transform 0.15s ease 0s;
  transition: opacity 0.15s ease 0s, transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0); }

.lg-outer .lg-pager-thumb-cont img {
  width: 100%;
  height: 100%; }

.lg-outer .lg-pager {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.7) inset;
  display: block;
  height: 12px;
  transition: box-shadow 0.3s ease 0s;
  width: 12px; }

.lg-outer .lg-pager:hover, .lg-outer .lg-pager:focus {
  box-shadow: 0 0 0 8px white inset; }

.lg-outer .lg-caret {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px dashed;
  bottom: -10px;
  display: inline-block;
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  vertical-align: middle;
  width: 0; }

.lg-fullscreen:after {
  content: "\e20c"; }

.lg-fullscreen-on .lg-fullscreen:after {
  content: "\e20d"; }

.lg-outer #lg-dropdown-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1081;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.18s, opacity 0.18s linear 0s; }

.lg-outer.lg-dropdown-active .lg-dropdown, .lg-outer.lg-dropdown-active #lg-dropdown-overlay {
  transition-delay: 0s;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  opacity: 1;
  visibility: visible; }

.lg-outer.lg-dropdown-active #lg-share {
  color: #FFF; }

.lg-outer .lg-dropdown {
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  transition: visibility 0s linear 0.5s, opacity 0.18s linear 0s, -webkit-transform 0.18s linear 0s;
  transition: transform 0.18s linear 0s, visibility 0s linear 0.5s, opacity 0.18s linear 0s;
  transition: transform 0.18s linear 0s, visibility 0s linear 0.5s, opacity 0.18s linear 0s, -webkit-transform 0.18s linear 0s; }

.lg-outer .lg-dropdown:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #FFF;
  right: 16px;
  top: -16px; }

.lg-outer .lg-dropdown > li:last-child {
  margin-bottom: 0px; }

.lg-outer .lg-dropdown > li:hover a, .lg-outer .lg-dropdown > li:hover .lg-icon {
  color: #333; }

.lg-outer .lg-dropdown a {
  color: #333;
  display: block;
  white-space: pre;
  padding: 4px 12px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px; }

.lg-outer .lg-dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.07); }

.lg-outer .lg-dropdown .lg-dropdown-text {
  display: inline-block;
  line-height: 1;
  margin-top: -3px;
  vertical-align: middle; }

.lg-outer .lg-dropdown .lg-icon {
  color: #333;
  display: inline-block;
  float: none;
  font-size: 20px;
  height: auto;
  line-height: 1;
  margin-right: 8px;
  padding: 0;
  vertical-align: middle;
  width: auto; }

.lg-outer #lg-share {
  position: relative; }

.lg-outer #lg-share:after {
  content: "\e80d"; }

.lg-outer #lg-share-facebook .lg-icon {
  color: #3b5998; }

.lg-outer #lg-share-facebook .lg-icon:after {
  content: "\e901"; }

.lg-outer #lg-share-twitter .lg-icon {
  color: #00aced; }

.lg-outer #lg-share-twitter .lg-icon:after {
  content: "\e904"; }

.lg-outer #lg-share-googleplus .lg-icon {
  color: #dd4b39; }

.lg-outer #lg-share-googleplus .lg-icon:after {
  content: "\e902"; }

.lg-outer #lg-share-pinterest .lg-icon {
  color: #cb2027; }

.lg-outer #lg-share-pinterest .lg-icon:after {
  content: "\e903"; }

.lg-group:after {
  content: "";
  display: table;
  clear: both; }

.lg-outer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  text-align: left;
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-outer * {
  box-sizing: border-box; }

.lg-outer.lg-visible {
  opacity: 1; }

.lg-outer.lg-css3 .lg-item.lg-prev-slide, .lg-outer.lg-css3 .lg-item.lg-next-slide, .lg-outer.lg-css3 .lg-item.lg-current {
  transition-duration: inherit !important;
  transition-timing-function: inherit !important; }

.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-current {
  transition-duration: 0s !important;
  opacity: 1; }

.lg-outer.lg-grab img.lg-object {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lg-outer.lg-grabbing img.lg-object {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

.lg-outer .lg {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%; }

.lg-outer .lg-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap; }

.lg-outer .lg-item {
  background: url("../images/lightgallery/loading.gif") no-repeat scroll center center transparent;
  display: none !important; }

.lg-outer.lg-css3 .lg-prev-slide, .lg-outer.lg-css3 .lg-current, .lg-outer.lg-css3 .lg-next-slide {
  display: inline-block !important; }

.lg-outer.lg-css .lg-current {
  display: inline-block !important; }

.lg-outer .lg-item, .lg-outer .lg-img-wrap {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.lg-outer .lg-item:before, .lg-outer .lg-img-wrap:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px; }

.lg-outer .lg-img-wrap {
  position: absolute;
  padding: 0 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.lg-outer .lg-item.lg-complete {
  background-image: none; }

.lg-outer .lg-item.lg-current {
  z-index: 1060; }

.lg-outer .lg-image {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important; }

.lg-outer.lg-show-after-load .lg-item .lg-object, .lg-outer.lg-show-after-load .lg-item .lg-video-play {
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object, .lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play {
  opacity: 1; }

.lg-outer .lg-empty-html {
  display: none; }

.lg-outer.lg-hide-download #lg-download {
  display: none; }

.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.15s ease 0s; }

.lg-backdrop.in {
  opacity: 1; }

.lg-css3.lg-no-trans .lg-prev-slide, .lg-css3.lg-no-trans .lg-next-slide, .lg-css3.lg-no-trans .lg-current {
  transition: none 0s ease 0s !important; }

.lg-css3.lg-use-css3 .lg-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-css3.lg-use-left .lg-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.lg-css3.lg-fade .lg-item {
  opacity: 0; }

.lg-css3.lg-fade .lg-item.lg-current {
  opacity: 1; }

.lg-css3.lg-fade .lg-item.lg-prev-slide, .lg-css3.lg-fade .lg-item.lg-next-slide, .lg-css3.lg-fade .lg-item.lg-current {
  transition: opacity 0.1s ease 0s; }

.lg-css3.lg-slide.lg-use-css3 .lg-item {
  opacity: 0; }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide.lg-use-left .lg-item {
  opacity: 0;
  position: absolute;
  left: 0; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
  left: -100%; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide {
  left: 100%; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  left: 0;
  opacity: 1; }

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
  transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s; }
/*! lightgallery - v1.6.11 - 2018-05-22
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2018 Sachin N; Licensed GPLv3 */
.lg-css3.lg-zoom-in .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-in .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
  transform: scale3d(1.3, 1.3, 1.3); }

.lg-css3.lg-zoom-in .lg-item.lg-next-slide {
  -webkit-transform: scale3d(1.3, 1.3, 1.3);
  transform: scale3d(1.3, 1.3, 1.3); }

.lg-css3.lg-zoom-in .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-in .lg-item.lg-prev-slide, .lg-css3.lg-zoom-in .lg-item.lg-next-slide, .lg-css3.lg-zoom-in .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-zoom-in-big .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-in-big .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2, 2, 2); }

.lg-css3.lg-zoom-in-big .lg-item.lg-next-slide {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2, 2, 2); }

.lg-css3.lg-zoom-in-big .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-in-big .lg-item.lg-prev-slide, .lg-css3.lg-zoom-in-big .lg-item.lg-next-slide, .lg-css3.lg-zoom-in-big .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-zoom-out .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-out .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.7, 0.7, 0.7); }

.lg-css3.lg-zoom-out .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.7, 0.7, 0.7); }

.lg-css3.lg-zoom-out .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-out .lg-item.lg-prev-slide, .lg-css3.lg-zoom-out .lg-item.lg-next-slide, .lg-css3.lg-zoom-out .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-zoom-out-big .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-out-big .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0); }

.lg-css3.lg-zoom-out-big .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0); }

.lg-css3.lg-zoom-out-big .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-out-big .lg-item.lg-prev-slide, .lg-css3.lg-zoom-out-big .lg-item.lg-next-slide, .lg-css3.lg-zoom-out-big .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-zoom-out-in .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-out-in .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0); }

.lg-css3.lg-zoom-out-in .lg-item.lg-next-slide {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2, 2, 2); }

.lg-css3.lg-zoom-out-in .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-out-in .lg-item.lg-prev-slide, .lg-css3.lg-zoom-out-in .lg-item.lg-next-slide, .lg-css3.lg-zoom-out-in .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-zoom-in-out .lg-item {
  opacity: 0; }

.lg-css3.lg-zoom-in-out .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2, 2, 2); }

.lg-css3.lg-zoom-in-out .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0); }

.lg-css3.lg-zoom-in-out .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-zoom-in-out .lg-item.lg-prev-slide, .lg-css3.lg-zoom-in-out .lg-item.lg-next-slide, .lg-css3.lg-zoom-in-out .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-soft-zoom .lg-item {
  opacity: 0; }

.lg-css3.lg-soft-zoom .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1); }

.lg-css3.lg-soft-zoom .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
  transform: scale3d(0.9, 0.9, 0.9); }

.lg-css3.lg-soft-zoom .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

.lg-css3.lg-soft-zoom .lg-item.lg-prev-slide, .lg-css3.lg-soft-zoom .lg-item.lg-next-slide, .lg-css3.lg-soft-zoom .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-scale-up .lg-item {
  opacity: 0; }

.lg-css3.lg-scale-up .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translate3d(0%, 10%, 0);
  transform: scale3d(0.8, 0.8, 0.8) translate3d(0%, 10%, 0); }

.lg-css3.lg-scale-up .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translate3d(0%, 10%, 0);
  transform: scale3d(0.8, 0.8, 0.8) translate3d(0%, 10%, 0); }

.lg-css3.lg-scale-up .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-scale-up .lg-item.lg-prev-slide, .lg-css3.lg-scale-up .lg-item.lg-next-slide, .lg-css3.lg-scale-up .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.lg-css3.lg-slide-circular .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.lg-css3.lg-slide-circular .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular .lg-item.lg-next-slide, .lg-css3.lg-slide-circular .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular-up .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular-up .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0); }

.lg-css3.lg-slide-circular-up .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0); }

.lg-css3.lg-slide-circular-up .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular-up .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular-up .lg-item.lg-next-slide, .lg-css3.lg-slide-circular-up .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular-down .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular-down .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0); }

.lg-css3.lg-slide-circular-down .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0); }

.lg-css3.lg-slide-circular-down .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular-down .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular-down .lg-item.lg-next-slide, .lg-css3.lg-slide-circular-down .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular-vertical .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular-vertical .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(0, -100%, 0);
  transform: scale3d(0, 0, 0) translate3d(0, -100%, 0); }

.lg-css3.lg-slide-circular-vertical .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(0, 100%, 0);
  transform: scale3d(0, 0, 0) translate3d(0, 100%, 0); }

.lg-css3.lg-slide-circular-vertical .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular-vertical .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular-vertical .lg-item.lg-next-slide, .lg-css3.lg-slide-circular-vertical .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular-vertical-left .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, -100%, 0); }

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 100%, 0); }

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular-vertical-left .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular-vertical-left .lg-item.lg-next-slide, .lg-css3.lg-slide-circular-vertical-left .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-circular-vertical-down .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, -100%, 0); }

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 100%, 0); }

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-circular-vertical-down .lg-item.lg-prev-slide, .lg-css3.lg-slide-circular-vertical-down .lg-item.lg-next-slide, .lg-css3.lg-slide-circular-vertical-down .lg-item.lg-current {
  transition: opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-vertical .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-vertical .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.lg-css3.lg-slide-vertical .lg-item.lg-next-slide {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.lg-css3.lg-slide-vertical .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-vertical .lg-item.lg-prev-slide, .lg-css3.lg-slide-vertical .lg-item.lg-next-slide, .lg-css3.lg-slide-vertical .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-vertical-growth .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-vertical-growth .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -150%, 0);
  transform: scale3d(0.5, 0.5, 0.5) translate3d(0, -150%, 0); }

.lg-css3.lg-slide-vertical-growth .lg-item.lg-next-slide {
  -webkit-transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 150%, 0);
  transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 150%, 0); }

.lg-css3.lg-slide-vertical-growth .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-slide-vertical-growth .lg-item.lg-prev-slide, .lg-css3.lg-slide-vertical-growth .lg-item.lg-next-slide, .lg-css3.lg-slide-vertical-growth .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-only .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-only .lg-item.lg-prev-slide {
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg); }

.lg-css3.lg-slide-skew-only .lg-item.lg-next-slide {
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg); }

.lg-css3.lg-slide-skew-only .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  opacity: 1; }

.lg-css3.lg-slide-skew-only .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-only .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-only .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-only-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg); }

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg); }

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  opacity: 1; }

.lg-css3.lg-slide-skew-only-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-only-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-only-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-only-y .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-only-y .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg); }

.lg-css3.lg-slide-skew-only-y .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg); }

.lg-css3.lg-slide-skew-only-y .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  opacity: 1; }

.lg-css3.lg-slide-skew-only-y .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-only-y .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-only-y .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-only-y-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg); }

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg); }

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
  opacity: 1; }

.lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-only-y-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew .lg-item.lg-prev-slide {
  -webkit-transform: skew(20deg, 0deg) translate3d(-100%, 0%, 0px);
  transform: skew(20deg, 0deg) translate3d(-100%, 0%, 0px); }

.lg-css3.lg-slide-skew .lg-item.lg-next-slide {
  -webkit-transform: skew(20deg, 0deg) translate3d(100%, 0%, 0px);
  transform: skew(20deg, 0deg) translate3d(100%, 0%, 0px); }

.lg-css3.lg-slide-skew .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew .lg-item.lg-next-slide, .lg-css3.lg-slide-skew .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(-20deg, 0deg) translate3d(-100%, 0%, 0px);
  transform: skew(-20deg, 0deg) translate3d(-100%, 0%, 0px); }

.lg-css3.lg-slide-skew-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(-20deg, 0deg) translate3d(100%, 0%, 0px);
  transform: skew(-20deg, 0deg) translate3d(100%, 0%, 0px); }

.lg-css3.lg-slide-skew-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-cross .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-cross .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, 60deg) translate3d(-100%, 0%, 0px);
  transform: skew(0deg, 60deg) translate3d(-100%, 0%, 0px); }

.lg-css3.lg-slide-skew-cross .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, 60deg) translate3d(100%, 0%, 0px);
  transform: skew(0deg, 60deg) translate3d(100%, 0%, 0px); }

.lg-css3.lg-slide-skew-cross .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-cross .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-cross .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-cross .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-cross-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, -60deg) translate3d(-100%, 0%, 0px);
  transform: skew(0deg, -60deg) translate3d(-100%, 0%, 0px); }

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, -60deg) translate3d(100%, 0%, 0px);
  transform: skew(0deg, -60deg) translate3d(100%, 0%, 0px); }

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-cross-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-cross-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-cross-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-ver .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-ver .lg-item.lg-prev-slide {
  -webkit-transform: skew(60deg, 0deg) translate3d(0, -100%, 0px);
  transform: skew(60deg, 0deg) translate3d(0, -100%, 0px); }

.lg-css3.lg-slide-skew-ver .lg-item.lg-next-slide {
  -webkit-transform: skew(60deg, 0deg) translate3d(0, 100%, 0px);
  transform: skew(60deg, 0deg) translate3d(0, 100%, 0px); }

.lg-css3.lg-slide-skew-ver .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-ver .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-ver .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-ver .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-ver-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(-60deg, 0deg) translate3d(0, -100%, 0px);
  transform: skew(-60deg, 0deg) translate3d(0, -100%, 0px); }

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(-60deg, 0deg) translate3d(0, 100%, 0px);
  transform: skew(-60deg, 0deg) translate3d(0, 100%, 0px); }

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-ver-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-ver-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-ver-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-ver-cross .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, 20deg) translate3d(0, -100%, 0px);
  transform: skew(0deg, 20deg) translate3d(0, -100%, 0px); }

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, 20deg) translate3d(0, 100%, 0px);
  transform: skew(0deg, 20deg) translate3d(0, 100%, 0px); }

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-ver-cross .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-ver-cross .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-ver-cross .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-prev-slide {
  -webkit-transform: skew(0deg, -20deg) translate3d(0, -100%, 0px);
  transform: skew(0deg, -20deg) translate3d(0, -100%, 0px); }

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-next-slide {
  -webkit-transform: skew(0deg, -20deg) translate3d(0, 100%, 0px);
  transform: skew(0deg, -20deg) translate3d(0, 100%, 0px); }

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-current {
  -webkit-transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  transform: skew(0deg, 0deg) translate3d(0%, 0%, 0px);
  opacity: 1; }

.lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-prev-slide, .lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-next-slide, .lg-css3.lg-slide-skew-ver-cross-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-lollipop .lg-item {
  opacity: 0; }

.lg-css3.lg-lollipop .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.lg-css3.lg-lollipop .lg-item.lg-next-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0.5);
  transform: translate3d(0, 0, 0) scale(0.5); }

.lg-css3.lg-lollipop .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-lollipop .lg-item.lg-prev-slide, .lg-css3.lg-lollipop .lg-item.lg-next-slide, .lg-css3.lg-lollipop .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-lollipop-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-lollipop-rev .lg-item.lg-prev-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0.5);
  transform: translate3d(0, 0, 0) scale(0.5); }

.lg-css3.lg-lollipop-rev .lg-item.lg-next-slide {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.lg-css3.lg-lollipop-rev .lg-item.lg-current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-lollipop-rev .lg-item.lg-prev-slide, .lg-css3.lg-lollipop-rev .lg-item.lg-next-slide, .lg-css3.lg-lollipop-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-rotate .lg-item {
  opacity: 0; }

.lg-css3.lg-rotate .lg-item.lg-prev-slide {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.lg-css3.lg-rotate .lg-item.lg-next-slide {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.lg-css3.lg-rotate .lg-item.lg-current {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1; }

.lg-css3.lg-rotate .lg-item.lg-prev-slide, .lg-css3.lg-rotate .lg-item.lg-next-slide, .lg-css3.lg-rotate .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-rotate-rev .lg-item {
  opacity: 0; }

.lg-css3.lg-rotate-rev .lg-item.lg-prev-slide {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.lg-css3.lg-rotate-rev .lg-item.lg-next-slide {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.lg-css3.lg-rotate-rev .lg-item.lg-current {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1; }

.lg-css3.lg-rotate-rev .lg-item.lg-prev-slide, .lg-css3.lg-rotate-rev .lg-item.lg-next-slide, .lg-css3.lg-rotate-rev .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }

.lg-css3.lg-tube .lg-item {
  opacity: 0; }

.lg-css3.lg-tube .lg-item.lg-prev-slide {
  -webkit-transform: scale3d(1, 0, 1) translate3d(-100%, 0, 0);
  transform: scale3d(1, 0, 1) translate3d(-100%, 0, 0); }

.lg-css3.lg-tube .lg-item.lg-next-slide {
  -webkit-transform: scale3d(1, 0, 1) translate3d(100%, 0, 0);
  transform: scale3d(1, 0, 1) translate3d(100%, 0, 0); }

.lg-css3.lg-tube .lg-item.lg-current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

.lg-css3.lg-tube .lg-item.lg-prev-slide, .lg-css3.lg-tube .lg-item.lg-next-slide, .lg-css3.lg-tube .lg-item.lg-current {
  transition: opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s, -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s; }
/**
 * Global Styles
 * Copyright 2018 Sathya Ram
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  font-family: "Jura", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Fredoka One", sans-serif; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

header,
section {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; }

section {
  height: auto; }

/**
 * Header Styles
 * (Relevant JavaScript: "/user/themes/sathyaram/src/js/custom/header.js")
 * Copyright 2018 Sathya Ram
 */
header {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: #000; }
  header::before, header::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover; }
  header::before {
    opacity: 0;
    background-image: none;
    background-position: center center; }
  header::after {
    opacity: 1;
    background: radial-gradient(ellipse at bottom, #001f6d 0%, #000 100%);
    background-position: top center; }
  header .logo {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 12; }
    header .logo img {
      width: 100%; }
    @media (max-width: 991px) {
      header .logo {
        width: 80px;
        top: 20px; } }
    @media (max-width: 419px) {
      header .logo {
        width: 60px; } }
  header .content {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    z-index: 10; }
  header nav {
    padding-bottom: 45px; }
    @media (max-width: 991px) {
      header nav {
        padding-bottom: 35px; } }
    header nav a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px;
      border-radius: 50%;
      -webkit-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0);
      transition: color 0.3s ease, -webkit-transform 0.3s ease;
      transition: color 0.3s ease, transform 0.3s ease;
      transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
      color: #fff; }
      header nav a .fa {
        font-size: 20px; }
      header nav a:hover {
        color: #29b6f6;
        -webkit-transform: scale(1.5) translateZ(0);
        transform: scale(1.5) translateZ(0); }
  header h1 {
    width: 100%;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "aquatico", sans-serif;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #fff, 0 0 10px #60c0f0, 0 0 20px #60c0f0;
    -webkit-transform: skewY(-5deg) translateY(0px);
    transform: skewY(-5deg) translateY(0px);
    -webkit-animation-name: title-hover;
    animation-name: title-hover;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }
    @media (max-width: 991px) {
      header h1 {
        font-size: 80px; } }
    @media (max-width: 419px) {
      header h1 {
        font-size: 42px; } }
  header h2 {
    width: 100%;
    color: #fff;
    font-family: "aquatico", sans-serif;
    font-size: 18px;
    line-height: 1.32;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 18px #fff;
    letter-spacing: 2px;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg); }
    @media (max-width: 991px) {
      header h2 {
        font-size: 15.99998px; } }
    @media (max-width: 419px) {
      header h2 {
        font-size: 10.39999px; } }
  header .space,
  header .stars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
  header .space {
    z-index: 10; }
  header .stars {
    z-index: 11; }
    header .stars div {
      position: absolute;
      border-radius: 50%;
      background: #fff;
      -webkit-animation-name: star-travel;
      animation-name: star-travel;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      box-shadow: 0 0 10em 0.5em rgba(255, 255, 255, 0.7), 0 0 2em 1px rgba(96, 192, 240, 0.5);
      opacity: 0.85; }

/**
 * About Styles
 * Copyright 2018 Sathya Ram
 */
#about {
  padding: 100px 0 50px 0; }
  #about > h2 {
    font-family: "Fredoka One", sans-serif;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: #889bb4;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #about > h2 {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #about > h2 {
        width: 700px; } }
    @media (min-width: 992px) {
      #about > h2 {
        width: 980px; } }
    @media (min-width: 1280px) {
      #about > h2 {
        width: 980px; } }
    @media (min-width: 768px) {
      #about > h2 {
        text-align: center;
        padding: 0;
        font-size: 64px; } }
    @media (min-width: 992px) {
      #about > h2 {
        font-size: 72px; } }
    @media (min-width: 1280px) {
      #about > h2 {
        font-size: 96px; } }
  #about .content {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 20px;
    text-align: center; }
    #about .content .about-title {
      font-family: "Fredoka One", sans-serif;
      font-size: 46px;
      margin-top: -4%;
      color: #222639; }
      @media (max-width: 768px) {
        #about .content .about-title {
          font-size: 28px;
          margin-top: -6%; } }
    #about .content .about-text {
      max-width: 500px;
      margin: 0 auto; }
      #about .content .about-text .about-description {
        padding-top: 30px; }
    #about .content img {
      display: inline-block;
      width: 80%;
      max-width: 420px;
      border-radius: 50%; }
    #about .content p {
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 18px;
      font-family: "Jura", sans-serif;
      font-weight: 500;
      line-height: 1.5;
      color: #222639; }
  #about nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    text-align: center; }
    @media (max-width: 991px) {
      #about nav {
        padding-top: 50px; } }
  #about a {
    display: inline-block;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    z-index: 1; }
    @media (max-width: 1279px) {
      #about a {
        margin: 0 10px; } }
    @media (max-width: 991px) {
      #about a {
        margin: 0 auto; } }
    #about a:hover .card-wrapper, #about a.hover .card-wrapper {
      cursor: pointer;
      -webkit-transform: rotateY(180deg) translateZ(1px);
      transform: rotateY(180deg) translateZ(1px);
      box-shadow: 0px 0px 50px 10px #ececec; }
      #about a:hover .card-wrapper .back, #about a.hover .card-wrapper .back {
        background: #fff;
        color: #222639; }
  #about .card-wrapper {
    display: block;
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0;
    padding: 0 0 3%;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    z-index: 1;
    -webkit-perspective: 900000px;
    perspective: 900000px; }
    @media (max-width: 1279px) {
      #about .card-wrapper {
        width: 300px;
        height: 350px; } }
    @media (max-width: 991px) {
      #about .card-wrapper {
        width: 250px;
        height: 300px; } }
    @media (max-width: 419px) {
      #about .card-wrapper {
        margin: auto; } }
  #about .side {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 6px; }
  #about .front {
    text-align: center;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  #about .back {
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    background: #222639;
    color: #fff;
    font-family: "Jura", sans-serif;
    font-size: 20px;
    line-height: 120%;
    transition: background 600ms ease;
    -webkit-transform: rotateY(-180deg) translateZ(1px);
    transform: rotateY(-180deg) translateZ(1px); }
    @media (max-width: 1279px) {
      #about .back {
        font-size: 16px; } }
    @media (max-width: 991px) {
      #about .back {
        padding: 10px;
        font-size: 14px; } }
  #about .vector {
    position: relative; }
    #about .vector > div {
      color: white;
      font-size: 56px;
      font-family: 'aquatico';
      text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0; }
  #about .description {
    margin-top: 85px; }
    #about .description h3 {
      color: #222639;
      font-size: 24px;
      text-stroke: 2px #222639;
      letter-spacing: 5px;
      font-family: 'aquatico';
      font-weight: 700;
      text-transform: uppercase; }
      @media (max-width: 1279px) {
        #about .description h3 {
          font-size: 20px; } }
      @media (max-width: 991px) {
        #about .description h3 {
          font-size: 18px; } }
  #about .shape {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1; }
  #about .web .monitor {
    width: 228px;
    height: 137px;
    background: #f2f2f2;
    border-radius: 8px;
    padding: 15px; }
  #about .web .screen {
    width: 198px;
    height: 107px;
    color: #fff;
    text-align: center;
    line-height: 140px;
    font-size: 56px;
    background: #222639; }
  #about .web .base {
    position: absolute;
    width: 40px;
    height: 20px;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #f2f2f2; }
  #about .web .base::before,
  #about .web .base::after,
  #about .web .grey-shadow::before,
  #about .web .grey-shadow::after {
    position: absolute;
    content: '';
    top: 0; }
  #about .web .base:before {
    border-left: 6px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 30px solid #f2f2f2;
    left: -5px; }
  #about .web .base:after {
    border-right: 6px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 30px solid #f2f2f2;
    right: -5px; }
  #about .web .base > div {
    position: absolute; }
  #about .web .foot {
    background: #f2f2f2;
    z-index: 1; }
    #about .web .foot.top {
      width: 116px;
      height: 5px;
      bottom: -4px;
      left: 50%;
      margin-left: -58px; }
    #about .web .foot.top::before, #about .web .foot.top::after, #about .web .foot.bottom::before {
      position: absolute;
      content: '';
      top: 0px; }
    #about .web .foot.top::before {
      border-left: 16px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 5px solid #f2f2f2;
      left: -16px; }
    #about .web .foot.top::after {
      border-right: 16px solid transparent;
      border-left: 0px solid transparent;
      border-bottom: 5px solid #f2f2f2;
      right: -16px; }
    #about .web .foot.bottom {
      width: 70px;
      height: 10px;
      border-radius: 5px;
      bottom: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 999; }
  #about .graphic .box {
    width: 136px;
    height: 136px;
    border: 8px solid #f2f2f2;
    background: #222639;
    margin: 0 auto; }
  #about .graphic .anchor {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -12px;
    left: -12px;
    background: #fff;
    border: 6px solid #f2f2f2; }
    #about .graphic .anchor:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    #about .graphic .anchor:nth-child(3) {
      top: calc(100% + 4px);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    #about .graphic .anchor:nth-child(4) {
      top: calc(100% + 4px);
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    #about .graphic .anchor:nth-child(5) {
      top: calc(100% + 4px);
      left: calc(100% + 4px);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    #about .graphic .anchor:nth-child(6) {
      top: 50%;
      left: calc(100% + 4px);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    #about .graphic .anchor:nth-child(7) {
      top: calc(0% - 4px);
      left: calc(100% + 4px);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    #about .graphic .anchor:nth-child(8) {
      top: calc(0% - 4px);
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    #about .graphic .anchor:nth-child(9) {
      top: -50px;
      left: 50%;
      border-radius: 50px;
      background: #f2f2f2;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      #about .graphic .anchor:nth-child(9)::after {
        position: absolute;
        content: '';
        width: 3px;
        height: 40px;
        top: 5px;
        left: 50%;
        background: #f2f2f2;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
  #about .photography .photo {
    width: 135px;
    height: 157px;
    margin: 0 auto;
    padding: 13px 14px 15px;
    top: 60%;
    background: #f2f2f2;
    border-radius: 2px; }
    #about .photography .photo .image {
      width: auto;
      background: #222639;
      height: 100px; }

#web,
#graphic {
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px 0; }
  #web > h2,
  #graphic > h2 {
    font-family: "Fredoka One", sans-serif;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: #889bb4;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #web > h2,
      #graphic > h2 {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #web > h2,
      #graphic > h2 {
        width: 700px; } }
    @media (min-width: 992px) {
      #web > h2,
      #graphic > h2 {
        width: 980px; } }
    @media (min-width: 1280px) {
      #web > h2,
      #graphic > h2 {
        width: 980px; } }
    @media (min-width: 768px) {
      #web > h2,
      #graphic > h2 {
        text-align: center;
        padding: 0;
        font-size: 64px; } }
    @media (min-width: 992px) {
      #web > h2,
      #graphic > h2 {
        font-size: 72px; } }
    @media (min-width: 1280px) {
      #web > h2,
      #graphic > h2 {
        font-size: 96px; } }
  #web .wrapper,
  #graphic .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #web .wrapper,
      #graphic .wrapper {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #web .wrapper,
      #graphic .wrapper {
        width: 700px; } }
    @media (min-width: 992px) {
      #web .wrapper,
      #graphic .wrapper {
        width: 980px; } }
    @media (min-width: 1280px) {
      #web .wrapper,
      #graphic .wrapper {
        width: 980px; } }
    @media (max-width: 768px) {
      #web .wrapper,
      #graphic .wrapper {
        width: 100%; } }
  #web article,
  #graphic article {
    transition: all 300ms ease;
    -ms-flex: 1 50%;
    flex: 1 50%;
    text-align: left;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35); }
    #web article > :first-child,
    #graphic article > :first-child {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      -webkit-transform: translateZ(0) scale(1);
      transform: translateZ(0) scale(1);
      z-index: -1;
      transition: all 300ms ease; }
    #web article > :last-child,
    #graphic article > :last-child {
      display: block;
      width: 100%;
      margin: 0;
      padding: 50px; }
    @media (max-width: 991px) {
      #web article,
      #graphic article {
        -ms-flex: 1 100%;
        flex: 1 100%;
        min-height: initial; } }
    #web article:hover > :first-child,
    #graphic article:hover > :first-child {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    #web article:hover:nth-child(1) h3,
    #graphic article:hover:nth-child(1) h3 {
      text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34; }
    #web article:hover hr,
    #graphic article:hover hr {
      width: 25%;
      box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); }
    #web article.graphic,
    #graphic article.graphic {
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #web article.graphic > :first-child,
      #graphic article.graphic > :first-child {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      #web article.graphic:hover > :first-child,
      #graphic article.graphic:hover > :first-child {
        -webkit-transform: translateZ(0) scale(1.15);
        transform: translateZ(0) scale(1.15); }
    #web article.full-width,
    #graphic article.full-width {
      text-align: center;
      min-height: 640px;
      -ms-flex: 1 100%;
      flex: 1 100%;
      -ms-flex-align: center;
      align-items: center; }
      #web article.full-width > :last-child,
      #graphic article.full-width > :last-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        min-height: 640px;
        -ms-flex: 1 100%;
        flex: 1 100%;
        -ms-flex-align: center;
        align-items: center; }
    #web article hr,
    #graphic article hr {
      width: 5%;
      transition: all 300ms ease;
      border: 1px solid white;
      background: white;
      margin: 15px 0; }
    #web article h3,
    #graphic article h3 {
      color: white;
      font-family: "Fredoka One", sans-serif;
      letter-spacing: 5px;
      transition: all 300ms ease;
      font-size: 32px;
      word-wrap: break-word;
      line-height: 120%;
      text-transform: uppercase;
      padding-bottom: 15px; }
    #web article h4,
    #graphic article h4 {
      font-family: "Fredoka One", sans-serif;
      color: white;
      letter-spacing: 1px;
      font-size: 14px; }
    #web article ul,
    #graphic article ul {
      display: inline-block;
      font-family: "Fredoka One", sans-serif;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 10px;
      text-shadow: none; }
      #web article ul li,
      #graphic article ul li {
        display: inline-block;
        border-radius: 2px;
        padding: 5px;
        text-shadow: none;
        margin: 0 2px 5px 0;
        background: white;
        color: black;
        letter-spacing: 1px; }
    #web article p,
    #graphic article p {
      padding-top: 15px;
      color: white;
      display: block;
      font-size: 14px;
      font-weight: bold;
      max-width: 500px;
      line-height: 130%;
      font-family: "Jura", sans-serif; }
      #web article p:empty,
      #graphic article p:empty {
        padding: 0; }
    #web article a.website-link,
    #web article a.dribbble-link,
    #graphic article a.website-link,
    #graphic article a.dribbble-link {
      display: inline-block;
      margin: 15px 0 0 0;
      padding: 10px;
      color: #fff;
      font-family: "Fredoka One", sans-serif;
      border: 2px solid white; }
      #web article a.website-link:hover,
      #web article a.dribbble-link:hover,
      #graphic article a.website-link:hover,
      #graphic article a.dribbble-link:hover {
        background: #fff;
        color: #000; }

#fud {
  width: 36px;
  height: 50px; }
  #fud span {
    display: block;
    background: #fff;
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    left: 0;
    margin: 5px 0;
    transition: all 300ms ease;
    border-radius: 50px; }
    #fud span:first-child {
      -webkit-animation: topbun 6s infinite ease-in-out;
      animation: topbun 6s infinite ease-in-out; }
    #fud span:nth-child(2) {
      -webkit-animation: meat 6s infinite ease-in-out;
      animation: meat 6s infinite ease-in-out; }
    #fud span:last-child {
      -webkit-animation: bottombun 6s infinite ease-in-out;
      animation: bottombun 6s infinite ease-in-out; }

#photography {
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px 3px 0 3px; }
  @media (min-width: 768px) {
    #photography {
      padding-left: 5px;
      padding-right: 5px; } }
  @media (min-width: 992px) {
    #photography {
      padding-left: 7px;
      padding-right: 7px; } }
  @media (min-width: 1280px) {
    #photography {
      padding-left: 9px;
      padding-right: 9px; } }
  #photography > h2 {
    font-family: "Fredoka One", sans-serif;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: #889bb4;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #photography > h2 {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #photography > h2 {
        width: 700px; } }
    @media (min-width: 992px) {
      #photography > h2 {
        width: 980px; } }
    @media (min-width: 1280px) {
      #photography > h2 {
        width: 980px; } }
    @media (min-width: 768px) {
      #photography > h2 {
        font-size: 64px;
        padding: 0; } }
    @media (min-width: 992px) {
      #photography > h2 {
        font-size: 72px; } }
    @media (min-width: 1280px) {
      #photography > h2 {
        font-size: 84px; } }
  #photography > ul {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center; }
    @media (min-width: 420px) {
      #photography > ul {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #photography > ul {
        width: 700px; } }
    @media (min-width: 992px) {
      #photography > ul {
        width: 980px; } }
    @media (min-width: 1280px) {
      #photography > ul {
        width: 980px; } }
    #photography > ul li {
      display: inline-block;
      font-family: "Fredoka One", sans-serif;
      font-weight: 400;
      margin: 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 32px;
      cursor: pointer;
      color: #333;
      transition: color .125s ease; }
      #photography > ul li:hover {
        color: #889bb4; }
      #photography > ul li:active, #photography > ul li.active {
        color: #ff9b4c; }
  #photography .content {
    max-width: 400px;
    margin: 25px auto 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #474747; }
    #photography .content > div {
      display: none; }
      #photography .content > div.active {
        display: block; }
    #photography .content p {
      display: block;
      margin: 0 0 25px 0;
      text-align: center; }
      #photography .content p:last-child {
        margin-bottom: 0; }
  #photography .grid {
    display: block;
    width: 100%;
    margin: 40px 0;
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #photography .grid {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #photography .grid {
        width: 700px; } }
    @media (min-width: 992px) {
      #photography .grid {
        width: 980px; } }
    @media (min-width: 1280px) {
      #photography .grid {
        width: 980px; } }
    @media (max-width: 768px) {
      #photography .grid {
        width: 100%; } }
  #photography .sizer,
  #photography .item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%; }
    @media (min-width: 768px) {
      #photography .sizer,
      #photography .item {
        width: 33.33333%; } }
    @media (min-width: 992px) {
      #photography .sizer,
      #photography .item {
        width: 33.33333%; } }
    @media (min-width: 1280px) {
      #photography .sizer,
      #photography .item {
        width: 33.33333%; } }
  #photography .item {
    padding: 3px;
    cursor: pointer; }
    @media (min-width: 768px) {
      #photography .item {
        padding: 5px; } }
    @media (min-width: 992px) {
      #photography .item {
        padding: 7px; } }
    @media (min-width: 1280px) {
      #photography .item {
        padding: 9px; } }
    #photography .item img {
      width: 100%;
      opacity: 1;
      -webkit-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0);
      transition: opacity .2s ease; }
    #photography .item:hover img {
      opacity: .85; }

/**
 * Footer Styles
 * Copyright 2018 Sathya Ram
 */
#contact {
  position: relative;
  background: radial-gradient(ellipse at bottom, #001f6d 0%, #000 100%);
  color: #fff;
  text-align: center;
  z-index: 9;
  padding: 50px 0;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: space-between;
  align-items: space-between; }
  #contact .container {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 420px) {
      #contact .container {
        width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      #contact .container {
        width: 700px; } }
    @media (min-width: 992px) {
      #contact .container {
        width: 980px; } }
    @media (min-width: 1280px) {
      #contact .container {
        width: 980px; } }
  #contact .form-result-container {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #contact #form-result {
    width: 100%; }
  #contact h2 {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    color: #889bb4;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    text-align: center; }
    @media (min-width: 768px) {
      #contact h2 {
        font-size: 24px; } }
    @media (min-width: 992px) {
      #contact h2 {
        font-size: 32px; } }
  #contact .p-email {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #a7b5c8;
    font-size: 28px;
    font-family: "Fredoka One", sans-serif;
    text-align: center;
    transition: color 0.3s ease; }
    @media (min-width: 768px) {
      #contact .p-email {
        font-size: 36px; } }
    @media (min-width: 992px) {
      #contact .p-email {
        font-size: 48px; } }
    @media (min-width: 1280px) {
      #contact .p-email {
        font-size: 64px; } }
    #contact .p-email:hover {
      color: #29b6f6; }
  #contact .copyright {
    position: absolute;
    margin: 0;
    padding: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #889bb4; }
  #contact form {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
  #contact .alert {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    font-family: "Jura", sans-serif;
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0.5px;
    overflow: hidden; }
    #contact .alert .icon {
      display: block;
      position: absolute;
      content: '';
      width: 54.3px;
      height: 54.3px;
      top: 0;
      left: 0;
      font-size: 28px;
      line-height: 54.3px;
      text-align: center;
      color: rgba(255, 255, 255, 0.85); }
    #contact .alert.alert-success {
      border-color: #1a8247;
      background: rgba(84, 176, 124, 0.25); }
      #contact .alert.alert-success .icon {
        color: #1a8247; }
    #contact .alert.alert-error {
      border-color: #b74324;
      background: rgba(246, 145, 118, 0.25); }
      #contact .alert.alert-error .icon {
        color: #b74324; }
  #contact .form-field {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 0;
    text-align: left; }
    #contact .form-field.form-field-center {
      text-align: center; }
      #contact .form-field.form-field-center .g-recaptcha > div {
        margin-left: auto !important;
        margin-right: auto !important; }
    #contact .form-field .g-recaptcha {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.85; }
      #contact .form-field .g-recaptcha > div > div > iframe {
        border: 2px solid rgba(255, 255, 255, 0.35);
        border-radius: 12px; }
  #contact .form-label {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #889bb4;
    letter-spacing: 1px; }
  #contact .required {
    color: #b74324;
    font-size: 1.6em;
    font-weight: 400; }
  #contact .form-input-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
  #contact input,
  #contact textarea {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid transparent;
    outline: none;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    border-top-left-radius: 0;
    transition: background .3s ease, color .3s ease, border-color .3s ease; }
    #contact input::-webkit-input-placeholder,
    #contact textarea::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.65);
      transition: color .3s ease; }
    #contact input::-moz-placeholder,
    #contact textarea::-moz-placeholder {
      color: rgba(0, 0, 0, 0.65);
      transition: color .3s ease; }
    #contact input:-ms-input-placeholder,
    #contact textarea:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.65);
      transition: color .3s ease; }
    #contact input::-ms-input-placeholder,
    #contact textarea::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.65);
      transition: color .3s ease; }
    #contact input::placeholder,
    #contact textarea::placeholder {
      color: rgba(0, 0, 0, 0.65);
      transition: color .3s ease; }
    #contact input:hover,
    #contact textarea:hover {
      background: rgba(255, 255, 255, 0.075);
      color: rgba(255, 255, 255, 0.7);
      border-color: transparent; }
      #contact input:hover::-webkit-input-placeholder,
      #contact textarea:hover::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:hover::-moz-placeholder,
      #contact textarea:hover::-moz-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:hover:-ms-input-placeholder,
      #contact textarea:hover:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:hover::-ms-input-placeholder,
      #contact textarea:hover::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:hover::placeholder,
      #contact textarea:hover::placeholder {
        color: rgba(0, 0, 0, 0.65); }
    #contact input:focus,
    #contact textarea:focus {
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.9);
      border-color: #889bb4; }
      #contact input:focus::-webkit-input-placeholder,
      #contact textarea:focus::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:focus::-moz-placeholder,
      #contact textarea:focus::-moz-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:focus:-ms-input-placeholder,
      #contact textarea:focus:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:focus::-ms-input-placeholder,
      #contact textarea:focus::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.65); }
      #contact input:focus::placeholder,
      #contact textarea:focus::placeholder {
        color: rgba(0, 0, 0, 0.65); }
  #contact textarea {
    height: 200px;
    line-height: 32px;
    padding: 10px 15px;
    resize: none; }
  #contact .buttons {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    #contact .buttons button {
      display: inline-block;
      height: 60px;
      margin: 0 15px;
      padding: 0 25px;
      background: #6981a0;
      color: rgba(255, 255, 255, 0.85);
      font-family: "Jura", sans-serif;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 56px;
      border: 2px solid rgba(255, 255, 255, 0.35);
      outline: none;
      border-radius: 12px;
      cursor: pointer;
      transition: background .3s ease, color .3s ease, border-color .3s ease; }
      #contact .buttons button:hover {
        color: rgba(255, 255, 255, 0.95);
        background: #5d7493;
        border-color: rgba(255, 255, 255, 0.35); }
      #contact .buttons button:active {
        color: white;
        background: #536883;
        border-color: rgba(255, 255, 255, 0.35); }
  #contact .has-errors .form-label {
    color: #b74324; }
  #contact .has-errors input,
  #contact .has-errors textarea {
    border-color: #b74324; }
