/**
 * About Styles
 * Copyright 2018 Sathya Ram
 */

// The About <section>
#about {
  padding: 100px 0 50px 0;

  > h2 {
    font-family: $section-title-font;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: $color-blue-light;
    text-align: center;
    @include size-container;

    @media (min-width: $breakpoint-sm-min) {
      text-align: center;
      padding: 0;
      font-size: 64px;
    }
    @media (min-width: $breakpoint-md-min) {
      font-size: 72px;
    }
    @media (min-width: $breakpoint-lg-min) {
      font-size: 96px;
    }
  }

  .content {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 20px;
    text-align: center;
    //@include size-container;

    .about-title {
      font-family: $section-title-font;
      font-size: 46px;
      margin-top: -4%;
      color:$color-midnight;

      @media (max-width: $breakpoint-sm-min) {
        font-size: 28px;
        margin-top:-6%;
      }
    }

    .about-text {
      max-width:500px;
      margin: 0 auto;

      .about-description {
        padding-top: 30px;
      }

    }

    img {
      display: inline-block;
      width: 80%;
      max-width: 420px;
      border-radius: 50%;
    }

    p {
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 18px;
      font-family: $font-body;
      font-weight: 500;
      line-height: 1.5;
      color: $color-midnight;
    }
  }

  // The nav wraps all three links in the services section
  nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
    perspective: 1000px;
    text-align: center;

    @media (max-width: $breakpoint-sm-max) {
      padding-top: 50px;
    }
  }

  // The three card links
  a {
    display: inline-block;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    z-index: 1;

    @media (max-width: $breakpoint-md-max) {
      margin: 0 10px;
    }
    @media (max-width: $breakpoint-sm-max) {
      margin: 0 auto;
    }

    &:hover,
    &.hover {
      .card-wrapper {
        cursor: pointer;
        transform: rotateY(180deg) translateZ(1px);
        box-shadow: 0px 0px 50px 10px #ececec;

        .back {
          background:$color-white;
          color:$color-midnight;
        };
      }
    }
  }

  // The wrapper inside the link
  .card-wrapper {
    display: block;
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0;
    padding: 0 0 3%;
    background: $color-white;
    transform-style: preserve-3d;
    color: $color-white;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    transition: box-shadow $transalt, transform $transalt;
    z-index: 1;
    -webkit-perspective: 900000px;
    perspective: 900000px;

    @media (max-width: $breakpoint-md-max) {
      width: 300px;
      height: 350px;
    }
    @media (max-width: $breakpoint-sm-max) {
      width: 250px;
      height: 300px;
    }
    @media (max-width: $breakpoint-xs-max) {
      margin: auto;
    }
  }

  // Each side of the link (which flips)
  .side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
     -webkit-transition: 0.6s;
             transition: 0.6s;
     -webkit-transform-style: preserve-3d;
             transform-style: preserve-3d;
    border-radius: 6px;
  }

  // The front side of the link
  .front {
    text-align: center;
    z-index: 2;
     -webkit-transform: rotateY(0deg);
             transform: rotateY(0deg);
  }

  // The back side of the link
  .back {
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    background: $color-midnight;
    color: $color-white;
    font-family: $font-body;
    font-size: 20px;
    line-height:120%;
    transition: background 600ms ease;
    -webkit-transform: rotateY(-180deg) translateZ(1px);
             transform: rotateY(-180deg) translateZ(1px);

    @media (max-width: $breakpoint-md-max) {
      font-size: 16px;
    }
    @media (max-width: $breakpoint-sm-max) {
      padding: 10px;
      font-size: 14px;
    }
  }

  // The vector image for each link
  .vector {
    position: relative;

    > div {
      color: white;
      font-size: 56px;
      font-family: 'aquatico';
      text-shadow: 0 0 5px #fff, 0 0 20px #60c0f0;
    }
  }

  // The title text for the link
  .description {
    margin-top: 85px;

    h3 {
      color: $color-midnight;
      font-size: 24px;
      text-stroke: 2px $color-midnight;
      letter-spacing: 5px;
      font-family: 'aquatico';
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: $breakpoint-md-max) {
        font-size: 20px;
      }
      @media (max-width: $breakpoint-sm-max) {
        font-size: 18px;
      }
    }
  }

  .shape {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // Websites

  .web {

    .monitor {
      width: 228px;
      height: 137px;
      background: $color-gray;
      border-radius: 8px;
      padding: 15px;
    }

    .screen {
      // width: 168px;
      // height: 96px;
      width: 198px;
      height: 107px;
      color: $color-white;
      text-align: center;
      line-height: 140px;
      font-size: 56px;
      background: $color-midnight;
    }

    .base {
      position: absolute;
      width: 40px;
      height: 20px;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      background: $color-gray;
    }

    .base::before,
    .base::after,
    .grey-shadow::before,
    .grey-shadow::after {
      position: absolute;
      content: '';
      top: 0;
    }

    .base:before {
      border-left: 6px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 30px solid $color-gray;
      left: -5px;
    }

    .base:after {
      border-right: 6px solid transparent;
      border-left: 0px solid transparent;
      border-bottom: 30px solid $color-gray;
      right: -5px;
    }

    .base > div {
      position: absolute;
    }

    .foot {
      background: $color-gray;
      z-index: 1;

      &.top {
        width: 116px;
        height: 5px;
        bottom: -4px;
        left: 50%;
        margin-left: -58px;
      }

      &.top::before,
      &.top::after,
      &.bottom::before {
        position: absolute;
        content: '';
        top: 0px;
      }

      &.top::before {
        border-left: 16px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 5px solid $color-gray;
        left: -16px;
      }

      &.top::after {
        border-right: 16px solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 5px solid $color-gray;
        right: -16px;
      }

      &.bottom {
        width: 70px;
        height: 10px;
        border-radius: 5px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
      }
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // Graphics

  .graphic {

    .box {
      width: 136px;
      height: 136px;
      border: 8px solid $color-gray;
      background: $color-midnight;
      margin: 0 auto;
    }

    .anchor {
      position: absolute;
      width: 16px;
      height: 16px;
      top: -12px;
      left: -12px;
      background: $color-white;
      border: 6px solid $color-gray;

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: calc(100% + 4px);
        transform: translateY(-50%);
      }
      &:nth-child(4) {
        top: calc(100% + 4px);
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(5) {
        top: calc(100% + 4px);
        left: calc(100% + 4px);
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(6) {
        top: 50%;
        left: calc(100% + 4px);
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(7) {
        top: calc(0% - 4px);
        left: calc(100% + 4px);
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(8) {
        top: calc(0% - 4px);
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(9) {
        top: -50px;
        left: 50%;
        border-radius: 50px;
        background: $color-gray;
        transform: translateY(-50%) translateX(-50%);

        &::after {
          position: absolute;
          content: '';
          width: 3px;
          height: 40px;
          top: 5px;
          left: 50%;
          background: $color-gray;
          transform: translateX(-50%);
        }
      }
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // Photography

  .photography {
    .photo {
      width: 135px;
      height: 157px;
      margin: 0 auto;
      padding: 13px 14px 15px;
      top: 60%;
      background: $color-gray;
      border-radius: 2px;

      .image {
        width: auto;
        background: $color-midnight;
        height: 100px;
        // width: 114px;
        // height: 100px;
        // transition: all 200s ease;
        // animation: flash 3s ease 1s infinite;
      }
    }
  }

}
