/**
 * Keyframe Animations
 * Copyright 2018 Sathya Ram
 */

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Overlay

// Rotate full 360 (Logo)
@keyframes logo-rotate {
  0%   { transform: translateX(-50%) rotate(0deg) $transfix; }
  100% { transform: translateX(-50%) rotate(360deg) $transfix; }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Header

// Title hovering effect
@keyframes title-hover {
  0%   { transform: $header-skew translateY(0px); }
  100% { transform: $header-skew translateY(-12px); }
}

// The stars travelling from bottom to top
//  Make them travel an extra 10px each side so they are out of view
//  If stars are ever set to be bigger than 10px then we'll need to change this
@keyframes star-travel {
  0%   { bottom: -10px; }
  100% { bottom: calc(100% + 10px); }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Website/Graphic/Photography

@keyframes topbun {
  100% {
    background:white;
    height:4px;
    border-radius:50px;
  }
  50% {
    background: #df8b33;
    height: 8px;
    border-radius: 50px 50px 5px 5px;
  }

  0% {
    background:white;
    height:4px;
    border-radius:50px;
  }
}

@keyframes meat {
  100% {
    background:white;
    height:4px;
  }
  50% {
        background: #7d5a16;
    height: 6px;
  }

  0% {
    height:4px;
    background:white;
  }
}

@keyframes bottombun {
  100% {
    background:white;
    height:4px;
    border-radius:50px;
  }
  50% {
        background: #df8b33;
    height: 6px;
    border-radius: 2px 2px 10px 10px;
  }
  0% {
    background:white;
    height:4px;
    border-radius:50px;
  }
}
