/**
 * Footer Styles
 * Copyright 2018 Sathya Ram
 */

#contact {
  position: relative;
  background:$header-grad;
  color: $color-white;
  text-align: center;
  z-index: 9;
  padding: $footer-spacer-lg 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

  .container {
    display: block;
    // padding: 0 50px;
    @include size-container;
  }

  .form-result-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #form-result {
    width: 100%;
  }

  h2 {
    display: block;
    width: 100%;
    margin: 0 0 $footer-spacer-sm 0;
    padding: 0;
    color: $footer-title-color;
    font-size: 18px;
    font-family: $footer-title-font;
    text-align: center;

    @media (min-width: $breakpoint-sm-min) {
      font-size: 24px;
    }
    @media (min-width: $breakpoint-md-min) {
      font-size: 32px;
    }
  }

  .p-email {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $footer-link-color;
    font-size: 28px;
    font-family: $footer-link-font;
    text-align: center;
    transition: color $trans;

    @media (min-width: $breakpoint-sm-min) {
      font-size: 36px;
    }
    @media (min-width: $breakpoint-md-min) {
      font-size: 48px;
    }
    @media (min-width: $breakpoint-lg-min) {
      font-size: 64px;
    }

    &:hover {
      color: $footer-link-hover;
    }
  }

  .copyright {
    position: absolute;
    margin: 0;
    padding: $footer-spacer;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: $footer-copy-align;
    font-size: $footer-copy-size;
    font-family: $footer-copy-font;
    font-weight: $footer-copy-weight;
    letter-spacing: $footer-copy-spacing;
    color: $footer-copy-color;
  }

  form {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .alert {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 $footer-spacer 0;
    padding: $footer-spacer-sm;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: $footer-radius;
    border-bottom-right-radius: 0;
    font-family: $font-body;
    color: rgba(255, 255, 255, 0.85);
    font-size: $footer-alert-size;
    font-weight: $footer-alert-weight;
    line-height: 1.35;
    letter-spacing: $footer-alert-spacing;
    overflow: hidden;

    .icon {
      display: block;
      position: absolute;
      content: '';
      width: ((1.35 * $footer-alert-size) + (2 * $footer-spacer-sm));
      height: ((1.35 * $footer-alert-size) + (2 * $footer-spacer-sm));
      top: 0;
      left: 0;
      font-size: 28px;
      line-height: ((1.35 * $footer-alert-size) + (2 * $footer-spacer-sm));
      text-align: center;
      color: rgba(255, 255, 255, 0.85);
    }

    &.alert-success {
      border-color: $footer-alert-success-border;
      background: $footer-alert-success-background;
      .icon {
        color: $footer-alert-success-icon;
      }
    }
    &.alert-error {
      border-color: $footer-alert-error-border;
      background: $footer-alert-error-background;
      .icon {
        color: $footer-alert-error-icon;
      }
    }
  }

  .form-field {
    display: block;
    width: 100%;
    margin: 0 0 $footer-spacer 0;
    padding: 0;
    text-align: left;

    &.form-field-center {
      text-align: center;

      .g-recaptcha {
        > div {
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }

    .g-recaptcha {
      transform: scale(0.9);
      opacity: 0.85;
      > div {
        > div {
          // border: 1px dashed red;
          > iframe {
            border: 2px solid $footer-button-border;
            border-radius: $footer-radius;
          }
        }
      }
    }
  }

  .form-label {
    display: block;
    width: 100%;
    margin: 0 0 $footer-spacer-xs 0;
    padding: 0;
    font-family: $footer-label-font;
    font-weight: $footer-label-weight;
    font-size: 20px;
    line-height: 24px;
    color: $footer-label-color;
    letter-spacing: $footer-label-spacing;
  }

  .required {
    color: $footer-label-required-color;
    font-size: 1.6em;
    font-weight: $footer-label-required-weight;
  }

  .form-input-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  input,
  textarea {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 $footer-spacer-sm;
    background: $footer-input-background;
    border: 2px solid $footer-input-border;
    outline: none;
    font-family: $footer-input-font;
    font-weight: $footer-input-weight;
    font-size: $footer-input-size;
    line-height: 50px;
    letter-spacing: $footer-input-spacing;
    color: $footer-input-color;
    border-radius: $footer-radius;
    border-top-left-radius: 0;
    transition:
      background .3s ease,
      color .3s ease,
      border-color .3s ease;

    &::placeholder {
      color: $footer-input-placeholder;
      transition: color .3s ease;
    }

    &:hover {
      background: $footer-input-hover-background;
      color: $footer-input-hover-color;
      border-color: $footer-input-hover-border;
      &::placeholder {
        color: $footer-input-hover-placeholder;
      }
    }

    &:focus {
      background: $footer-input-focus-background;
      color: $footer-input-focus-color;
      border-color: $footer-input-focus-border;
      &::placeholder {
        color: $footer-input-focus-placeholder;
      }
    }
  }

  textarea {
    height: 200px;
    line-height: $footer-textarea-line;
    padding: $footer-spacer-xs $footer-spacer-sm;
    resize: none;
  }

  .buttons {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    button {
      display: inline-block;
      height: 60px;
      margin: 0 $footer-spacer-sm;
      padding: 0 $footer-spacer;
      background: $footer-button-background;
      color: $footer-button-color;
      font-family: $footer-button-font;
      font-size: $footer-button-size;
      font-weight: $footer-button-weight;
      letter-spacing: $footer-button-spacing;
      line-height: 56px;
      border: 2px solid $footer-button-border;
      outline: none;
      border-radius: $footer-radius;
      cursor: pointer;
      transition:
        background .3s ease,
        color .3s ease,
        border-color .3s ease;

      &:hover {
        color: $footer-button-hover-color;
        background: $footer-button-hover-background;
        border-color: $footer-button-hover-border;
      }
      &:active {
        color: $footer-button-active-color;
        background: $footer-button-active-background;
        border-color: $footer-button-active-border;
      }
    }
  }

  .has-errors {
    .form-label {
      color: $color-error;
    }
    input,
    textarea {
      border-color: $color-error;
    }
  }
}
