/**
 * Header Styles
 * (Relevant JavaScript: "/user/themes/sathyaram/src/js/custom/header.js")
 * Copyright 2018 Sathya Ram
 */

// First slide
header {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: $header-bg-color;

  // The background image and gradient underlays
  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    opacity: $header-image-opacity;
    background-image: $header-image;
    background-position: center center;
  }
  &::after {
    opacity: $header-grad-opacity;
    background: $header-grad;
    background-position: top center;
  }

  // Logo at the top
  .logo {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;

    img {
      width: 100%;
    }

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      width: 80px;
      top: 20px;
    }
    // xs breakpoint
    @media (max-width: $breakpoint-xs-max) {
      width: 60px;
    }
  }

  // Wrapper for the social icons, title and subtitle
  .content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 10;
  }

  // The social icons
  nav {
    padding-bottom: 45px;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      padding-bottom: 35px;
    }

    a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px;
      border-radius: 50%;
      transform: scale(1) $transfix;
      transition: color $trans, transform $trans;
      color: $header-icon-color;

      .fa {
        font-size: $header-icon-size;
      }

      &:hover {
        color: $header-icon-color-hover;
        transform: scale(1.5) $transfix;
      }
    }
  }

  // Main title
  h1 {
    width: 100%;
    padding:0 10px;
    color: $header-h1-color;
    text-align: center;
    text-transform: uppercase;
    font-family: $header-h1-font;
    font-size: $header-h1-size;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: $header-h1-shadow;
    transform: $header-skew translateY(0px);
    animation-name: title-hover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      font-size: ($header-h1-size * 0.8);
    }
    // xs breakpoint
    @media (max-width: $breakpoint-xs-max) {
      font-size: ($header-h1-size * 0.42);
    }
  }

  // Subtitle
  h2 {
    width: 100%;
    color: $header-h2-color;
    font-family: $header-h2-font;
    font-size: $header-h2-size;
    line-height: 1.32;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $header-h2-shadow;
    letter-spacing: 2px;
    transform: $header-skew;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      font-size: ($header-h2-size * 0.888888);
    }
    // xs breakpoint
    @media (max-width: $breakpoint-xs-max) {
      font-size: ($header-h2-size * 0.577777);
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // Space/Stars/Galaxy

  // Position them all absolutely at full height/width
  .space,
  .stars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  // The .space wrapper, containing all space elements in the header
  .space {
    z-index: 10;
  }
  // The normal stars moving from bottom to top
  .stars {
    z-index: 11;
    // The stars themselves - some properties are deliberately
    // omitted because they are set randomly in the JavaScript:
    //   drawStars()@/user/themes/sathyaram/src/js/custom/header.js
    div {
      position: absolute;
      border-radius: 50%;
      background: $header-star-background;
      animation-name: star-travel;
      animation-timing-function: $header-star-easing;
      animation-iteration-count: infinite;
      animation-play-state: paused;
      animation-fill-mode: both;
      box-shadow: $header-star-shadow;
      opacity: $header-star-opacity;
    }
  }
}
