#photography {
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px ($photo-grid-gutter-xs / 2) 0 ($photo-grid-gutter-xs / 2);

  @media (min-width: $breakpoint-sm-min) {
    padding-left: ($photo-grid-gutter-sm / 2);
    padding-right: ($photo-grid-gutter-sm / 2);
  }
  @media (min-width: $breakpoint-md-min) {
    padding-left: ($photo-grid-gutter-md / 2);
    padding-right: ($photo-grid-gutter-md / 2);
  }
  @media (min-width: $breakpoint-lg-min) {
    padding-left: ($photo-grid-gutter-lg / 2);
    padding-right: ($photo-grid-gutter-lg / 2);
  }

  > h2 {
    font-family: $section-title-font;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: $color-blue-light;
    text-align: center;
    @include size-container;

    @media (min-width: $breakpoint-sm-min) {
      font-size: 64px;
      padding: 0;
    }
    @media (min-width: $breakpoint-md-min) {
      font-size: 72px;
    }
    @media (min-width: $breakpoint-lg-min) {
      font-size: 84px;
    }
  }

  > ul {
    @include size-container;
    text-align:center;

    li {
      display: inline-block;
      font-family: $font-title;
      font-weight: 400;
      margin: 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 32px;
      cursor: pointer;
      color: $photo-filter-color;
      transition: color .125s ease;
      &:hover {
        color: $photo-filter-color-hover;
      }
      &:active,
      &.active {
        color: $photo-filter-color-active;
      }
    }
  }

  .content {
    max-width:400px;
    margin: 25px auto 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-family: $font-body;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #474747;

    > div {
      display: none;
      &.active {
        display: block;
      }
    }

    p {
      display: block;
      margin: 0 0 25px 0;
      text-align:center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .grid {
    display: block;
    width: 100%;
    margin: 40px 0;
    padding: 0;
    @include size-container;

    @media (max-width: $breakpoint-sm-min) {
      width:100%;
    }
  }

  .sizer,
  .item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: #{$photo-grid-width-xs};

    @media (min-width: $breakpoint-sm-min) {
      width: #{$photo-grid-width-sm};
    }
    @media (min-width: $breakpoint-md-min) {
      width: #{$photo-grid-width-md};
    }
    @media (min-width: $breakpoint-lg-min) {
      width: #{$photo-grid-width-md};
    }
  }

  .item {
    padding: ($photo-grid-gutter-xs / 2);
    cursor: pointer;

    @media (min-width: $breakpoint-sm-min) {
      padding: ($photo-grid-gutter-sm / 2);
    }
    @media (min-width: $breakpoint-md-min) {
      padding: ($photo-grid-gutter-md / 2);
    }
    @media (min-width: $breakpoint-lg-min) {
      padding: ($photo-grid-gutter-lg / 2);
    }

    img {
      width: 100%;
      opacity: 1;
      transform: scale(1) translateZ(0);
      transition: opacity .2s ease;
    }

    &:hover {
      img {
        opacity: .85;
      }
    }
  }

}
