/**
 * Sass Variables
 * Copyright 2018 Sathya Ram
 */

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Colors

// General
$color-black:      #000;
$color-white:      #fff;
$color-midnight:   #222639;
$color-twilight:   #001f6d;
$color-slate:      #303030;
$color-gray:       #f2f2f2;
$color-drupal:     #0678be;
$color-red:        #f3443f; 
$color-purple:     #947e92;
$color-pink:       #f06292;
$color-teal:       #26a69a;
$color-blue:       #29b6f6;
$color-blue-light: #889bb4;

// Social
$color-twitter:   #4f95fd;
$color-instagram: #45719a;
$color-linkedin:  #2079b5;
$color-facebook:  #405797;
$color-youtube:   #c12e2f;

// Forms
$color-error:         #b74324;
$color-error-light:   #f69176;
$color-success:       #1a8247;
$color-success-light: #54b07c;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Typography

// Fonts
$font-title:  'Fredoka One', sans-serif;
$font-body:   'Jura', sans-serif;
$font-script: 'Jura', cursive;
$font-icon:   FontAwesome;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Breakpoints & Containers

// Minimum widths for each breakpoint
$breakpoint-xs-min:    0px;
$breakpoint-mj-min:  420px;
$breakpoint-sm-min:  768px;
$breakpoint-md-min:  992px;
$breakpoint-lg-min: 1280px;

// Maximum widths for each breakpoint
$breakpoint-xs-max: ($breakpoint-mj-min - 1);
$breakpoint-mj-max: ($breakpoint-sm-min - 1);
$breakpoint-sm-max: ($breakpoint-md-min - 1);
$breakpoint-md-max: ($breakpoint-lg-min - 1);

// Container widths
$container-mj:  400px;
$container-sm:  700px;
$container-md:  980px;
$container-lg: 1200px;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Miscellaneous

// Common transition settings
$trans:    .3s ease;
$transalt: .3s ease-in-out;

// When transitioning the transform property of an element, it can cause
// unintended blurring/movement. Setting this at the same time eliminates it.
// - https://stackoverflow.com/q/15464055/3389737
// - Usage:
//     element {
//       transform: someOtherTransform(50%) $transfix;
//     }
$transfix: translateZ(0);

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Header Section

// The background image and gradient overlay
//
//  BOTTOM - bg-color
//  MIDDLE - image
//     TOP - gradient
$header-bg-color:      #000;
$header-image:         none;
$header-image-opacity: 0;
$header-grad:          radial-gradient(ellipse at bottom, $color-twilight 0%, $color-black 100%);
$header-grad-opacity:  1;
// - REMOVED (Ref)
// $header-image:         url('../images/header.jpg');
// $header-grad:          radial-gradient(ellipse at bottom, #0c1d3a 0%, #360b3a 100%);

// The social icons
$header-icon-color:       #fff;
$header-icon-color-hover: $color-blue;
$header-icon-size:        20px;

// The skew style applied to the header's title
$header-skew: skewY(-5deg);

// The main title (SATHYA RAM)
$header-h1-font:   'aquatico', sans-serif;
$header-h1-color:  #fff;
$header-h1-size:   100px;
$header-h1-shadow: 0 0 5px #fff, 0 0 10px #60c0f0, 0 0 20px #60c0f0;

// The subtitle (Designer, Developer, Photographer)
$header-h2-font:   'aquatico', sans-serif;
$header-h2-color:  #fff;
$header-h2-size:   18px;
$header-h2-shadow: 0px 0px 18px #fff;

// Normal stars (travelling bottom to top)
$header-star-background: #fff;
$header-star-opacity:    0.85;
$header-star-easing:     linear;
// You can use em units for this as font-size is set to the width/height
$header-star-shadow:
  0 0 10em .5em rgba(#fff, .7),
  0 0 2em 1px rgba(#60c0f0, .5);

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Website/Graphic/Photography Sections

$section-title-font: $font-title;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Photography Section

$photo-filter-color:        #333;
$photo-filter-color-hover:  $color-blue-light;
$photo-filter-color-active: #ff9b4c;

// Grid gutter at each breakpoint
$photo-grid-gutter-xs:  6px;
$photo-grid-gutter-sm: 10px;
$photo-grid-gutter-md: 14px;
$photo-grid-gutter-lg: 18px;

// Number of columns at each breakpoint
$photo-grid-cols-xs: 2;
$photo-grid-cols-sm: 3;
$photo-grid-cols-md: 3;
$photo-grid-cols-lg: 4;

// Actual column width at each breakpoint
// (shouldn't need to change - just use `photo-grid-cols-*` above)
$photo-grid-width-xs: percentage((1 / $photo-grid-cols-xs));
$photo-grid-width-sm: percentage((1 / $photo-grid-cols-sm));
$photo-grid-width-md: percentage((1 / $photo-grid-cols-md));
$photo-grid-width-lg: percentage((1 / $photo-grid-cols-lg));

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Footer/Contact

// Common spacing values used in the footer
$footer-spacer-lg: 50px;
$footer-spacer:    25px;
$footer-spacer-sm: 15px;
$footer-spacer-xs: 10px;

// The border radius value used in the footer - alerts, inputs, buttons
$footer-radius: 12px;

// The whole section
$footer-bg: radial-gradient(ellipse at bottom, #1f3b60 0%, #090a0f 100%);

// The section's title
$footer-title-color: $color-blue-light;
$footer-title-font:  $font-body;

// The email link
$footer-link-color: lighten($color-blue-light, 10%);
$footer-link-hover: $color-blue;
$footer-link-font:  $font-title;

// The copyright notice's text styles
$footer-copy-align:   center;
$footer-copy-size:    18px;
$footer-copy-color:   $color-blue-light;
$footer-copy-font:    $font-body;
$footer-copy-weight:  700;
$footer-copy-spacing: 0.5px;

// The form message alert's text styles
$footer-alert-size:    18px;
$footer-alert-weight:  600;
$footer-alert-spacing: 0.5px;
// The form message alert's color themes
$footer-alert-success-border:     $color-success;
$footer-alert-success-background: rgba($color-success-light, 0.25);
$footer-alert-success-icon:       $color-success;
$footer-alert-error-border:       $color-error;
$footer-alert-error-background:   rgba($color-error-light, 0.25);
$footer-alert-error-icon:         $color-error;

// Form labels
$footer-label-font:    $font-body;
$footer-label-weight:  600;
$footer-label-color:   $color-blue-light;
$footer-label-spacing: 1px;
// Required asterisk
$footer-label-required-color:  $color-error;
$footer-label-required-weight: 400;

// Form inputs/textareas
$footer-input-background:  rgba(255, 255, 255, 0.05);
$footer-input-border:      transparent;
$footer-input-font:        $font-body;
$footer-input-weight:      600;
$footer-input-size:        20px;
$footer-input-spacing:     0.5px;
$footer-input-color:       rgba(255, 255, 255, 0.7);
$footer-input-placeholder: rgba(0, 0, 0, 0.65);
// :hover
$footer-input-hover-background:  rgba(255, 255, 255, 0.075);
$footer-input-hover-color:       $footer-input-color;
$footer-input-hover-border:      $footer-input-border;
$footer-input-hover-placeholder: $footer-input-placeholder;
// :focus
$footer-input-focus-background:  rgba(255, 255, 255, 0.1);
$footer-input-focus-color:       rgba(255, 255, 255, 0.9);
$footer-input-focus-border:      $color-blue-light;
$footer-input-focus-placeholder: $footer-input-placeholder;
// Textarea
$footer-textarea-line: 32px;

// Submit button
$footer-button-background: darken(#889BB4, 10%);
$footer-button-color:      rgba(#fff, 0.85);
$footer-button-font:       $font-body;
$footer-button-size:       24px;
$footer-button-weight:     700;
$footer-button-spacing:    0.5px;
$footer-button-border:     rgba(255, 255, 255, 0.35);
// :hover
$footer-button-hover-background: darken($color-blue-light, 15%);
$footer-button-hover-color:      rgba(#fff, 0.95);
$footer-button-hover-border:     $footer-button-border;
// :active
$footer-button-active-background: darken($color-blue-light, 20%);
$footer-button-active-color:      rgba(#fff, 1);
$footer-button-active-border:     $footer-button-border;
