#web,
#graphic {
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px 0;

  > h2 {
    font-family: $section-title-font;
    font-size: 56px;
    margin: 0 0 50px 0;
    padding: 0 10px;
    color: $color-blue-light;
    text-align: center;
    @include size-container;

    @media (min-width: $breakpoint-sm-min) {
      text-align: center;
      padding: 0;
      font-size: 64px;
    }
    @media (min-width: $breakpoint-md-min) {
      font-size: 72px;
    }
    @media (min-width: $breakpoint-lg-min) {
      font-size: 96px;
    }
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include size-container;

    @media (max-width: $breakpoint-sm-min) {
      width:100%;
    }
  }

  article {
    transition: all 300ms ease;
    flex: 1 50%;
    text-align: left;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);

    > :first-child {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
      transform: translateZ(0) scale(1);
      z-index: -1;
      transition: all 300ms ease;
    }

    > :last-child {
      display: block;
      width: 100%;
      margin: 0;
      padding: 50px;
    }

    // Full-width for all <sm
    @media (max-width: $breakpoint-sm-max) {
      flex: 1 100%;
      min-height: initial;
    }

    // Hover effects
    &:hover {

      > :first-child {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:nth-child(1) {
        h3 {
          text-shadow:
            0 0 20px #fefcc9,
            10px -10px 30px #feec85,
            -20px -20px 40px #ffae34;
        }
      }
      hr {
        width: 25%;
        box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
      }
    }

    // Graphic variant
    &.graphic {
      justify-content: flex-end;
      > :first-child {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:hover {
        > :first-child {
          transform: translateZ(0) scale(1.15);
        }
      }
    }

    // Full-width variant
    &.full-width {
      text-align: center;
      min-height: 640px;
      flex: 1 100%;
      align-items: center;
      > :last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 640px;
        flex: 1 100%;
        align-items: center;
      }
    }

    hr {
      width: 5%;
      transition: all 300ms ease;
      border: 1px solid white;
      background: white;
      margin: 15px 0;
    }

    h3 {
      color: white;
      font-family: $font-title;
      letter-spacing: 5px;
      transition: all 300ms ease;
      font-size: 32px;
      word-wrap: break-word;
      line-height: 120%;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    h4 {
      font-family: $font-title;
      color: white;
      letter-spacing: 1px;
      font-size: 14px;
    }

    ul {
      display: inline-block;
      font-family: $font-title;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      text-shadow: none;

      li {
        display: inline-block;
        border-radius: 2px;
        padding: 5px;
        text-shadow: none;
        margin: 0 2px 5px 0;
        background: white;
        color: black;
        letter-spacing: 1px;
      }
    }

    p {
      padding-top: 15px;
      color: white;
      display: block;
      font-size:14px;
      font-weight:bold;
      max-width: 500px;
      line-height: 130%;
      font-family: $font-body;

      &:empty {
        padding:0;
      }
    }

    a.website-link,
    a.dribbble-link {
      display: inline-block;
      margin: 15px 0 0 0;
      padding: 10px;
      color: #fff;
      font-family: $font-title;
      border: 2px solid white;

      &:hover {
        background: #fff;
        color: #000;
      }
    }

  } //article

} //#web

// The Fudtruk burger
#fud {
  width: 36px;
  height: 50px;
  span {
    display: block;
    background: #fff;
    width: 100%;
    height: 4px;
    position: relative;
    top: 0;
    left: 0;
    margin: 5px 0;
    transition: all 300ms ease;
    border-radius: 50px;
    &:first-child {
      animation: topbun 6s infinite ease-in-out;
    }
    &:nth-child(2) {
      animation: meat 6s infinite ease-in-out;
    }
    &:last-child {
      animation: bottombun 6s infinite ease-in-out;
    }
  }
}
