<section id="{{ page.header.section_slug }}">

    {# <h2>{{ page.header.title }}</h2> #}

    <div class="content">
        <div class="about-photo">
            <img
              src="{{ page.media[page.header.photo_file].url }}"
              alt="{{ page.header.photo_alt }}">
        </div>
        <div class="about-title">{{ page.header.about_title }}</div>
        <div class="about-text">
            
            <div class="about-description">
                {% for paragraph in page.header.about_description %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Wrap the links in a nav #}
    <nav>
        {# Loop the services #}
        {% for service in page.header.services %}
            <span>
                <a href="{{ service.href }}" class="{{ service.class }}">
                    <div class="card-wrapper">
                        <div class="front side">
                            <div class="vector">
                                <div>{{ service.letter }}</div>
                                {% if service.class == 'web' %}
                                    <div class="monitor shape">
                                        <div class="screen"></div>
                                        <div class="base">
                                            <div class="foot bottom"></div>
                                        </div>
                                    </div>
                                {% elseif service.class == 'graphic' %}
                                    <div class="box shape">
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                        <div class="anchor"></div>
                                    </div>
                                {% elseif service.class == 'photography' %}
                                    <div class="photo shape">
                                        <div class="image">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="description">
                                <h3>{{ service.title }}</h3>
                            </div>
                        </div>
                        <div class="back side">
                            {{ service.back }}
                        </div>
                    </div>
                </a>
            </span>
        {% endfor %}
    </nav>

</section>
