<header>

    {# Wrapper element for the stars and space in the background #}
    <div class="space">
        {# The stars moving from bottom to top #}
        <div class="stars"></div>
    </div>

    {# The logo at the top of the section #}
    <div class="logo" role="logo">
        <img src="{{ url('theme://images/ram-logo-white.svg') }}" alt="Sathya Ram Logo">
    </div>

    {# The content floating in the center #}
    <div class="content">
        <nav>
            {% for icon in page.header.icons %}
                <a target="_blank" href="{{ icon.link }}">
                    <i class="fa {{ icon.icon }}" aria-hidden="true"></i>
                </a>
            {% endfor %}
        </nav>
        <div>
            <h1>{{ page.header.title }}</h1>
            <h2>{{ page.header.subtitle }}</h2>
        </div>
    </div>

</header>
