<section id="{{ page.header.section_slug }}">

    <h2>Work</h2>

    <div class="wrapper">
        {% for project in page.collection.order('default') %}
            <article class="{{ project.header.section_classes }}">
                <div style="background-image: {{ project.header.bg_style }};"></div>
                <div>
                    {{ project.header.pre_html }}
                    <h3>{{ project.title }}</h3>
                    {% if project.header.tagline %}
                        <h4>{{ project.header.tagline }}</h4>
                    {% endif %}
                    {% if project.content or project.taxonomy.tag %}
                        <hr>
                    {% endif %}
                    {% if project.taxonomy.tag %}
                        <ul>
                            {% for tag in project.taxonomy.tag %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if project.content %}
                        <p>{{ project.content }}</p>
                    {% endif %}
                    {% if project.header.link %}
                        <a href="{{ project.header.link }}" class="website-link" target="_blank">Visit Site</a>
                    {% endif %}
                    {% if project.header.dribbble %}
                        <a href="{{ project.header.dribbble }}" class="dribbble-link" target="_blank"><i class="fa fa-dribbble"></i>&nbsp;&nbsp;Full Project</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>

</section>
